<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355002944487-9ovf2plqmhrpfe25qoqbje7tu2lep7pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355002944487-9ovf2plqmhrpfe25qoqbje7tu2lep7pk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>355002944487-7nab4rjf3uhlmjmq0bpkd69g3s3r1rrv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvks8CB0v3YeHKfGqNBRAtIr7QyqaPt1A</string>
	<key>GCM_SENDER_ID</key>
	<string>355002944487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.saudetechama</string>
	<key>PROJECT_ID</key>
	<string>saude-te-chama-a31df</string>
	<key>STORAGE_BUCKET</key>
	<string>saude-te-chama-a31df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355002944487:ios:1940bf70c81ca7612d4b42</string>
</dict>
</plist>